body {
    background-image: url("https://images.unsplash.com/photo-1494861895304-fb272971c078?ixlib=rb-1.2.1&w=1000&q=80");
   
   margin: 30px;
   padding: 40px;  
   }
   image {
     float: left;
   }
   
   h1 {
     color: blue;
   }
   
   h2 {
     color: green;
   }
   
   li {
     color: red;
   }
   p {
     color:orange;
   }